<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @poem.content %>
</p>

<p>
  <b>Request:</b>
  <%= @request.content %>
</p>

<p>
  <b>Rating:</b>
  <%= @poem.rating %>
</p>



<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
