<p id="notice"><%= notice %></p>

<span class="poemcontent">
<h3><%= @request.content %></h3>
<br />
  <%= simple_format(@poem.content) %>
</span>

<!--<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %> -->
