<h1>New user</h1>

<%= error_messages_for :user %>
<%= error_messages_for :request %>
<%= start_form_tag :action => 'create' %>
<p>
  User Phone:
  <%= text_field :user, :phone %>
</p>
<p>
  Request:
  <%= text_field :request, :content %>
</p>
<p>
  <%= submit_tag 'Create' %>
</p>
<%= end_form_tag %>