<h1>New user</h1>

<%= render 'shared/error_messages' %>

<%= form_for @user do |f| %>

   <%=f.label :phone %>
   <%=f.text_field :phone %>

   <%= fields_for @request do |fa| %>
      <%=fa.label :content %>
      <%=fa.text_field :content %>
   <% end %>
<%= f.submit "Text Me a Poem!", :class => "btn btn-large btn-primary" %>    
<% end %>