<h1>Write a poem about <%= @request.content %></h1>

<%= form_for(@request) do |f| %>
    <%= fields_for @poem do |fa| %>
        <%=fa.label :content %>
        <%= fa.text_area :content, placeholder: "Compose new poem..." %>
    <% end %>
 
<%= f.submit "Post", class: "btn btn-large btn-primary" %> 
<% end %>


<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th>Request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @request.poems.each do |poem| %>
  <tr>
    <td><%= poem.content %></td>
    <td><%= poem.user_id %></td>
    <td><%= poem.request_id %></td>
    <td><%= link_to 'Show', poem %></td>
    <td><%= link_to 'Edit', edit_poem_path(poem) %></td>
    <td><%= link_to 'Destroy', poem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>