<h1>Request Backlog</h1>


<h2>Open Requests</h2>
<table class ="table">
  <thead>
      <tr>
    <th>Request</th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <% if request.poems.any? == FALSE %>
        <td><%= request.content %></td>
        <td><%= link_to 'Write Poem', edit_request_path(request) %></td>
        <td><%= link_to 'Delete Request', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
  </tr>
<% end %>
</table>

<h2>Closed Requests</h2>

<table class ="table">
  <thead>
      <tr>
    <th>Request</th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <% if request.poems.any? == TRUE %>
    <td><%= request.content %></td>
    <td><%= link_to 'View Poem', request_path(request) %></td>
    <td><%= link_to 'Delete Request', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
