<h1>Request Backlog</h1>


<h2>Open Requests</h2>
    
    
<table>
  <tr>
    <th>Request</th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.content %></td>
    <% if request.poems.any? == FALSE %>
        <td><%= link_to 'Needs Poem', edit_request_path(request) %></td>
        <% else %>
        <td><%= link_to 'View Poem', edit_request_path(request) %></td>
    <% end %>
    <td><%= link_to 'Delete Request', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
