<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Date Sent</th>
            <th>Direction</th>
            <th>To:</th>
            <th>Body:</th>
        <tr>
    </thead>
<tbody>
    <% @message.each do |message| %>
    <tr>
        <td><%= message.sid %></td>
        <td><%= message.date_sent %></td>
        <td><%= message.direction %></td>
        <td><%= message.to %></td>
        <td><%= message.body %></td>
    </tr>
    <% end %>
</tbody>
</table>